@charset "utf-8";
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
	display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
}
.blank {
  width: 100%;
}

.item img{
  width: 100%;  
}

@media screen and { 

}

