@charset "utf-8";

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
body{
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
video{
  width: 100%;
  margin-top: 50%;
}